table{
    text-align: left;
    border: 1px solid black;
}

th{
    background-color: #f2f2f2b4;
    font-weight: bold;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}


#exorcismo img{
    float: right;
}

#peques img{
    float: left;
}
body{
    display: flex;
}
.principal{
    display: flex;
    flex: 4;
    flex-direction: column;
}
.principal-secundarias{
    display: flex;
}

.noticia-secundaria{
    flex: 1;
}

.columna{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.principal img{
    width: 75%;
}

.columna img{
    width: 45%;
}



